body {
  margin: 0;
  font-family: Poppins, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-menu {
  @apply cursor-pointer;
}
.search-box {
  @apply w-64 p-3 bg-transparent border outline-none mt-3 rounded-sm text-gray-400;
}
.search {
  @apply border-b cursor-pointer;
}
.category {
  @apply flex items-center bg-slate-100 border p-2 md:p-3 w-40 md:w-72 space-x-3 hover:scale-105 overflow-hidden;
}
.cate-menu {
  @apply flex flex-col items-center;
}
.card {
  @apply flex;
}
.spec {
  @apply flex items-center md:space-x-3 space-x-1;
}
.property-card {
  @apply flex flex-col items-center justify-center space-y-3 ring-2 ring-white w-52 py-4 hover:scale-105;
}
.partner-card {
  @apply flex flex-col items-center space-y-3 hover:scale-110;
}
.project-card {
  @apply flex flex-col space-y-3 relative;
}
.menu-header {
  @apply font-semibold mb-5 text-base;
}
.footer-nav-menu {
  @apply space-y-2 text-sm;
}
.link {
  @apply text-orange-900 underline;
}
.partner-container {
  @apply flex space-x-20;
}
.proprerty-menu {
  @apply text-orange-900 bg-gray-100 border;
}
